@import 'variables'; // Asegúrate de importar variables si las usas aquí

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover {
  color: $secondary-color;
}
