@import 'variables'; // Importa variables antes de usarlas

.main-header {
  background: $header-background;
  color: $text-color;
  padding: 20px 0; // Espacio alrededor del header

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative; // Asegúrate de que el contenedor de navegación tenga posición relativa para manejar el menú desplegable

    .logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: $text-color;
    }

    .nav-list {
      display: none; // Ocultar menú en pantallas pequeñas
      list-style: none;
      flex-direction: column;
      background-color: $header-background;
      position: absolute;
      top: 60px;
      right: 0;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      li {
        margin: 10px 0;

        a {
          color: $text-color;
          transition: color 0.3s ease;
        }
      }
    }

    .nav-list.active {
      display: flex; // Mostrar el menú cuando está activo
    }

    .menu-toggle {
      display: flex; // Mostrar ícono del menú en pantallas pequeñas
      flex-direction: column;
      cursor: pointer;

      span {
        background-color: $text-color;
        height: 3px;
        width: 25px;
        margin: 3px 0;
        transition: all 0.3s;
      }

      &.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &.active span:nth-child(2) {
        opacity: 0;
      }

      &.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }

    a:hover {
      color: $secondary-color;
    }
  }

  .hero {
    background-color: $hero-background;
    color: $text-color;
    text-align: center;
    padding: 60px 15px;
    margin-top: 20px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    .button {
      background-color: $primary-color;
      color: $background-color;
      padding: 10px 20px;
      border-radius: $border-radius;
      margin-top: 20px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

// Media Queries

// Pantallas pequeñas (móviles)
@media (max-width: 480px) {
  .menu-toggle {
    display: flex; // Mostrar ícono de menú en pantallas pequeñas
  }

  .nav-list {
    display: none; // Ocultar menú por defecto
  }
}

// Pantallas medianas (tabletas)
@media (min-width: 481px) and (max-width: 768px) {
  .menu-toggle {
    display: flex; // Mostrar ícono de menú en pantallas medianas
  }

  .nav-list {
    display: none; // Ocultar menú por defecto
  }
}

// Pantallas grandes (escritorios)
@media (min-width: 769px) {
  .nav-list {
    display: flex; // Mostrar menú en pantallas grandes
    flex-direction: row; // Menú en horizontal
    position: static; // Revertir position absolute
    background: none;
    box-shadow: none;
    padding: 0;

    li {
      margin: 0 15px;
    }
  }

  .menu-toggle {
    display: none; // Ocultar ícono de menú en pantallas grandes
  }
}
