@import 'variables'; // Importa variables antes de usarlas

.main-header {
  background: var(--header-background);
  padding: 20px 0;
  text-align: center;
  color: var(--text-color);

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 15px;
      }

      a {
        color: var(--text-color);
        transition: color 0.3s ease;
      }
    }

    a:hover {
      color: var(--secondary-color);
    }
  }

  .hero {
    margin-top: 20px;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .button {
      background-color: var(--primary-color);
      color: var(--background-color);
      padding: 10px 20px;
      border-radius: var(--border-radius);
      margin-top: 20px;
      transition: background 0.3s ease;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}
