// Colores
$primary-color: #30f4b0;
$secondary-color: #1a936f;
$background-color: #0a0a0a;
$text-color: #e0e0e0;
$header-background: #111;
$hero-background: #1a936f9f;

// Tipografía
$font-family: 'Roboto', sans-serif;

// Border Radius
$border-radius: 5px;
